.button-tecnologia{
    margin: 3px 5px;
    padding: 5px;
    background-color: white;
    border-radius: 8px;
    color: #391d8a;
    font-size: 13px;
    font-weight: 600;
    border: 1px solid #391d8a;
}

.button-tecnologia:hover{
    transition: .3 s;
    transform: scale(1.1);
    background-color: #3634A8;
    color: white;
}