*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    position: fixed;
    
}
.foto {
    width: 150px;
}
.foto:hover{
    transition: .5s;
    scale: 1.05;
}
.linkedin a:hover{
    transition: .5s;
    color: #0e76a8!important;
}
.github a:hover{
    transition: .5s;
    color: #171515!important;
}
.foto img{
    width: 100%;
    border-radius: 50%;
}

nav#menu-desktop ul li{
    list-style-type: none;
}
nav#menu-desktop ul li a{
    text-decoration: none;
    color: #fff;
}
nav#menu-desktop ul li:hover{
    background-color: rgb(66, 3, 124);
    color: white;
    border-radius:15px;
}

.active{
    transition: .2s;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 15px;
    padding: 0 20px;
}
#menu-mobile {
    display: none;
}
@media screen and (max-width:1100px) {
    .foto {
        width: 70px!important;
    }
    #header {
        height: 100%!important;
        width: 100%;
        position: relative;
    }
    #menu-desktop {
        display: none!important;
    }
    #menu-mobile {
        display: block;
    }
}